@model HotelMagnolia.UI.Models.RESERVACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RESERVACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HABITACION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HABITACION.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
