@model HotelMagnolia.UI.Models.BITACORA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BITACORA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registro_en_detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registro_en_detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO1.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO1.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_BITACORA })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
