@model HotelMagnolia.UI.Models.BITACORA

@{
    ViewBag.Title = "Detalles Bitacora";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>BITACORA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_BITACORA)
        </dd>
        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Detalle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registro_en_detalle)
        </dd>

        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_BITACORA.NOMBRE)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit",null ,new { @class = "btn btn-primary", id = Model.ID_BITACORA }) |
    @Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-primary" })
</p>
