@model IEnumerable<HotelMagnolia.UI.Models.BITACORA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registro_en_detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO1.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registro_en_detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO1.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_BITACORA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_BITACORA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_BITACORA })
        </td>
    </tr>
}

</table>
