<section class="welcome_area bg-img background-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div>
                    <h1>Lista de Precios</h1>
                    <br>
                    <br>
                    <table align="justify-content-end,align-items-center">
                        <tr>
                            <th>Consecutivo</th>
                            <th>Tipo</th>
                            <th>Precio</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                        <tr>
                            <td>PRC1</td>
                            <td>Habitacion Normal</td>
                            <td>36 000</td>
                            <td><a href="#">Eliminar</a></td>

                            <td>@Html.ActionLink("Editar", "EditPrices", "Room", null, new { })</td>
                        </tr>
                        <tr>
                            <td>PRC2</td>
                            <td>Habitacion Deluxe</td>
                            <td>50 000</td>
                            <td><a href="#">Eliminar</a></td>
                            <td>@Html.ActionLink("Editar", "EditPrices", "Room", null, new { })</td>
                        </tr>
                        <tr>
                            <td>PRC3</td>
                            <td>Habitacion Condominio</td>
                            <td>75 000</td>
                            <td><a href="#">Eliminar</a></td>
                            <td>@Html.ActionLink("Editar", "EditPrices", "Room", null, new { })</td>
                        </tr>
                        <tr>
                            <td>PRC4</td>
                            <td>Botella de Agua (500 ml)</td>
                            <td>1 500</td>
                            <td><a href="#">Eliminar</a></td>
                            <td>@Html.ActionLink("Editar", "EditPrices", "Room", null, new { })</td>
                        </tr>
                        <tr>
                            <td>PRC5</td>
                            <td>Cerveza Nacional (a elegir)</td>
                            <td>2 500</td>
                            <td><a href="#">Eliminar</a></td>
                            <td>@Html.ActionLink("Editar", "EditPrices", "Room", null, new { })</td>
                        </tr>
                    </table>
                    <br>
                    @Html.ActionLink("Nuevo", "NewPrice", "Room", null, new { @class = "btn essence-btn" })
                </div>
            </div>
        </div>
    </div>s
    </div>
    </div>
</section>