@model HotelMagnolia.UI.Models.HABITACION

@{
    ViewBag.Title = "Eliminar Habitacion";
}

<h2>@ViewBag.Title</h2>

<h3>¿Confirma que desea eliminar esto??</h3>
<div>
    <h4>HABITACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOTO)
        </dd>

        <dt>
           Tipo Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO.TIPO_PRECIO)
        </dd>

        <dt>
            Tipo Habitacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_HABITACION1.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index",null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
