@model HotelMagnolia.UI.Models.HABITACION

@{
    ViewBag.Title = "Detalles Habitacion";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>HABITACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOTO)
        </dd>

        <dt>
            Tipo Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO.TIPO_PRECIO)
        </dd>

        <dt>
            Tipo Habitacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_HABITACION1.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_HABITACION }) |
    @Html.ActionLink("Regresar", "Index")
</p>
