@model IEnumerable<HotelMagnolia.UI.Models.HABITACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_HABITACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_HABITACION)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_HABITACION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NUMERO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TIPO_HABITACION1.NOMBRE)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID_HABITACION }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID_HABITACION }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID_HABITACION })
    </td>
</tr>
}

</table>
