<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hotel Mandiola | Inicio</title>
    <link rel="icon" href="~/Content/imgs/core-img/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="header_area">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/"><img src="~/Content/imgs/core-img/logo.png" alt="Hotel Mandiola Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuSeguridad" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seguridad
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuSeguridad">
                            @Html.ActionLink("Roles", "ListRoles", "Usuarios", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Usuarios", "Index", "Usuarios", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Cambio de Contraseña", "ChangePassword", "Usuarios", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuAdministracion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administracion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuAdministracion">
                            @Html.ActionLink("Consecutivos", "Index", "Consecutivos", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Actividades", "Index", "Actividades", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Habitaciones", "Index", "Habitaciones", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Precios", "ListPrice", "Room", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Clientes", "ListClient", "Client", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuConsulta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consulta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuConsulta">
                            @Html.ActionLink("Bitacora", "CheckBinnacle", "Binnacle", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Errores", "CheckErrors", "Binnacle", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Clientes Activos", "#", "#", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Habitaciones Listas", "#", "#", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="welcome_area bg-img background-overlay">
        <div class="container h-50">
            <div class="row h-100 align-items-center">
                <div class="col-8">
                    <div class="hero-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="footer-logo mr-50">
                <a href="#"><img src="~/Content/imgs/core-img/logo.png" alt=""></a>
            </div>
            <h1 class="hero-content"> Creado por:</h1>
            <h4>Melanie Benavides</h4>
            <h4>Allan Marin</h4>
            <h4>Thomas White</h4>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/functions.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>