<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hotel Mandiola | Inicio</title>
    <link rel="icon" href="~/Content/imgs/core-img/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header_area">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/"><img src="~/Content/imgs/core-img/logo.png" alt="Hotel Mandiola Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuClientes">
                            <a class="dropdown-item" href="cambiar_password.html">Cambiar Contraseña</a>
                            <a class="dropdown-item" href="login.html">Cerrar Sesi&oacute;n</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menuBusqueda" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            B&uacute;squeda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuBusqueda">
                            <a class="dropdown-item" href="busqueda_habitaciones.html">Buscar Habitaciones</a>
                            <a class="dropdown-item" href="busqueda_productos.html">Buscar Productos</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer class="footer_area clearfix">
            <div class="container">
                <div class="footer-logo mr-50">
                    <a href="#"><img src="~/Content/imgs/core-img/logo.png" alt=""></a>
                </div>
                <h1 class "hero-content"> Creado por:</h1>
                <h4>Melanie Benavides</h4>
                <h4>Allan Marin</h4>
                <h4>Thomas White</h4>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>