@model HotelMagnolia.UI.Models.ARTICULO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

¿Confirma que desea eliminar esto?</h3>
<div>
    <h4>ARTICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO.TIPO_PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO.TIPO_PRECIO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
