@model IEnumerable<HotelMagnolia.UI.Models.ARTICULO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>
            Imagen
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO.PRECIO1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ARTICULO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ARTICULO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ARTICULO })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Crear Nueva", "Create", null, new { @class = "btn btn-primary" })
</p>
