@model IEnumerable<HotelMagnolia.UI.Models.ARTICULO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO.TIPO_PRECIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO.TIPO_PRECIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ARTICULO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ARTICULO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ARTICULO })
        </td>
    </tr>
}

</table>
