@model IEnumerable<HotelMagnolia.UI.Models.ARTICULO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>
            Img
        </th>
        <th>
            Tipo Precio
        </th>
        <th colspan="3">Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO.TIPO_PRECIO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_ARTICULO })
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_ARTICULO })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_ARTICULO })
        </td>
    </tr>
}

</table>
