@model HotelMagnolia.UI.Models.RESERVACION

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>


@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { data_function = "initialize" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RESERVACION</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ID_USUARIO, "ID_USUARIO", htmlAttributes: new { @class = "control-label col-md-4" })
            <h5>we need to import the User_ID from the session</h5>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_ENTRADA, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_ENTRADA, new { htmlAttributes = new {@class = "form-control " } })
                @Html.ValidationMessageFor(model => model.FECHA_ENTRADA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_SALIDA, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_SALIDA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FECHA_SALIDA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO_HABITACION, "TIPO_HABITACION", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("TIPO_HABITACION", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TIPO_HABITACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTADO_RESERVACION, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ESTADO_RESERVACION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ESTADO_RESERVACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</div>
