@model HotelMagnolia.UI.Models.RESERVACION

@{
    ViewBag.Title = "Eliminar Reservacion";
}

<h2>@ViewBag.Title</h2>

<h3>¿Confirma que desea eliminar esto?</h3>

@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { data_function = "initialize" }))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>RESERVACION</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Fecha Entrada
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_ENTRADA)
            </dd>

            <dt>
                Fecha Salida
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FECHA_SALIDA)
            </dd>

        <dt>
            Nombre Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE)
        </dd>

        <dt>
            Estado Reservacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_RESERVACION1.NOMBRE)
        </dd>

        <dt>
            Tipo Habitacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_HABITACION1.NOMBRE)
        </dd>


        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>

}