@model HotelMagnolia.UI.Models.RESERVACION

@{
    ViewBag.Title = "Detalle";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>RESERVACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_RESERVACION)
        </dd>
        <dt>
            Fecha Entrada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ENTRADA)
        </dd>

        <dt>
            Fecha Salida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_SALIDA)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_RESERVACION1.NOMBRE)
        </dd>

        <dt>
            Habitacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_HABITACION1.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_RESERVACION }) |
    @Html.ActionLink("Regresar ", "Index")
</p>
