@model IEnumerable<HotelMagnolia.UI.Models.RESERVACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Fecha Entrada
        </th>
        <th>
            Fecha Salida
        </th>
        <th>
            Cliente
        </th>
        <th>
            Estado
        </th>
        <th>
            Tipo Habitacion
        </th>
        <th colspan="3">Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_RESERVACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ENTRADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_SALIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_RESERVACION1.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_HABITACION1.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_RESERVACION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_RESERVACION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_RESERVACION })
        </td>
    </tr>
}

</table>
