@model HotelMagnolia.UI.Models.PRECIO

@{
    ViewBag.Title = "Eliminar Precio";
}

<h2>@ViewBag.Title</h2>

¿Confirma que desea eliminar esto?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>PRECIO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TIPO_PRECIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIPO_PRECIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRECIO1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRECIO1)
            </dd>

        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>

}