@model HotelMagnolia.UI.Models.PRECIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRECIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PRECIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PRECIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
