@model HotelMagnolia.UI.Models.PRECIO

@{
    ViewBag.Title = "Detalles de Precio";
}

    <h2>@ViewBag.Title</h2>

<div>
    <h4>PRECIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PRECIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PRECIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_PRECIO }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
