@model HotelMagnolia.UI.Models.CONSECUTIVO

@{
    ViewBag.Title = "Detalles de Consecutivo";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>CONSECUTIVO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_CONSECUTIVOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CONSECUTIVOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIENE_PREFIJO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIENE_PREFIJO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREFIJO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREFIJO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSEE_RANGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSEE_RANGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RANGO_INICIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RANGO_INICIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RANGO_FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RANGO_FINAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CONSECUTIVOS }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
