@model IEnumerable<HotelMagnolia.UI.Models.ROL>

@{
    ViewBag.Title = "Lista de Roles";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ROL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ROL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Crear Nuevo Rol", "Create", null, new { @class = "btn btn-primary" })
</p>
