@model IEnumerable<HotelMagnolia.UI.Models.USUARIO>

@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Lista de Usuarios</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </th>
        <th>
            Rol
        </th>
        <th colspan="3">Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDO1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CORREO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFONO)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.USER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROL.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_USUARIO })
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_USUARIO })
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_USUARIO })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Nuevo Usuario", "Create", "Usuarios", null, new { @class = "btn essence-btn" })