@model HotelMagnolia.UI.Models.CLIENTE

@{
    ViewBag.Title = "Detalles de Cliente";
}

    <h2>@ViewBag.Title</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HABITACION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HABITACION.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CLIENTE }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
