@using HotelMagnolia.UI.Models
@{
    USUARIO usuario = (USUARIO)Session["Usuario"];
}
@model HotelMagnolia.UI.Models.USUARIO

@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => usuario.ID_USUARIO)
    <div class="form-group">
        <label for="current_password">Contraseña actual:</label>
        <div class="col-md-10">
            <input class="input" type="password" name="current_password" id="current_password">
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="current_password">Contraseña nueva:</label>
        <div class="col-md-10">
            <input class="input" type="password" name="new_password" id="new_password">
        </div>
    </div>

    <div class="form-group">
        <label for="current_password">Verifique la contraseña nueva:</label>
        <div class="col-md-10">
            <input class="input" type="password" name="confirm_password" id="new_password">
            @Html.ValidationMessage("CONFIRM_PASSWORD", "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cambiar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}