@using HotelMagnolia.UI.Models
@{
    USUARIO usuario = (USUARIO)Session["Usuario"];
}
@model HotelMagnolia.UI.Models.USUARIO

@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { data_function = "initialize" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => usuario.ID_USUARIO)
    <div class="form-group">
        @Html.Label("current_password", "Contraseña actual:", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.Password("current_password", "", new { @class = "form-control", data_function = "noBlank" })
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("new_password", "Contraseña nueva:", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.Password("new_password", "", new { @class = "form-control", data_function = "noBlank" })
            @Html.ValidationMessage("NEW_PASSWORD", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("confirm_password", "Verifique la nueva contraseña:", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.Password("confirm_password", "", new { @class = "form-control", data_function = "noBlank" })
            @Html.ValidationMessage("CONFIRM_PASSWORD", "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cambiar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}