@model HotelMagnolia.UI.Models.USUARIO

@{
    ViewBag.Title = "Eliminar Usuario";
}

<h2>@ViewBag.Title</h2>

<h3>¿Confirma que desea eliminar esto?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>USUARIO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CORREO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CORREO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TELEFONO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.USER_NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USER_NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROL.NOMBRE)
            </dd>

        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}
