@model HotelMagnolia.UI.Models.USUARIO

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title</h2>
    <div class="form-group">
        <label class="control-label col-md-4" for="USER_NAME">Nombre de Usuario:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger" })
        </div>
    </div> <div class="form-group">
               <label class="control-label col-md-4" for="PASSWORD">Contrase&ntilde;a:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ingresar" class="btn btn-default" />
        </div>
    </div>
}